
@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;;
    padding: 0;
}

:root {
    --cor-de-fundo: #f5f5f5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000; 
}

body {
    background-color: var(--cor-de-fundo);
    font-family:  "Rosario", sans-serif;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}

/* SEÇÃO MENU */
.cabecalho {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    background-color: var(--cor-de-fundo-menu);
}

.navegacao__lista {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.navegacao__elemento a {
    font-size: 0.9rem;
}

/* SEÇÃO DE APRESENTAÇÃO */
.apresentacao {
    margin: 61px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    column-gap: 17px;
}

.apresentacao__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao__titulo {
    font-size: 52px;
    color: #043576;
}

.apresentacao__subtitulo{
    font-size: 22px;
    font-family: 'regular';
    color: #043576;
}

.redes {
    display: flex;
    gap: 10px;
}

.redes__elemento {
    margin: 10px;
    padding: 10px;
    border-radius: 15%;
    display: flex;
    border: 1px solid #043576;
}

.apresentacao__foto {
    height: 230px;
    width: 210px;
    border-radius:50%;
    border: 2px solid #043576;
}

/* SPBRE MIM */
.sobre-mim{
    margin-top: 32px;
    padding: 64px;
    background-color: #EAF2FD;
    display: flex;
    flex-direction: column;
}

.sobre-mim__titulo {
    font-size: 32px;
    font-weight: 700;
}

.sobre-mim__texto {
    padding-top: 16px;
    padding-right: 385px;
}

/* FORMAÇÃO ACADEMICA */
.formacao {
    margin-top: 32px;
    padding: 64px;
    display: flex;
    flex-direction: column;
}

.formacao__titulo {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.formacao__elemento {
    padding: 16px;
    display: flex;
    gap: 30px;
}

.formacao__icone {
    height: 100px;
    width: 200px;
}

.formacao__nome-detalhe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HABILIDADES */
.habilidades__titulo {
    background-color: #EAF2FD;
    display: flex;
    justify-content: center;
    padding: 32px;
}

.habilidades__lista {
    background-color: #EAF2FD;
    display: flex;
    justify-content: center;
    gap: 32px;
}

/* PROJETOS */
.projetos__titulo {
    margin-top: 32px;
    padding: 64px;
    display:flex;
    justify-content: center;
}

    .projetos__img {
        height: 406px;
        width: 752;
        padding-left: 64px;
    }

    .projetos__conteiner {
        margin-top: 32px;
        display: flex;
        gap: 16px;
    }

    .projetos__nome {
        color: #464646;
        font-weight: 700;
        font-size: 22px;
        padding-left: 50px;
        
    }

    .projetos__link {
        border: 2px solid #2A7AE4;
        height: 51px;
        width: 116px;
        padding: 16px;
    }
    
    
   


